button {
    --boxsize: 75px;
    border: 1px black solid;
    height: var(--boxsize);
    width: var(--boxsize);
    font-size: 32px;
    font-weight: bold;
}

.red {
    color: red;
}

.black {
    color: black;
}

.blue {
    color: blue;
}

.image-button img {
    --imgsize: 50px;
    justify-content: center;
    align-items: center;
    width: var(--imgsize);
    height: var(--imgsize);
}