h1 {
    margin-left: 2.5%;
    margin-top: 0.5rem;
    font-family: 'elephant';
}

.brand {
    height: 2rem;
    width: 2rem;
}

.nav-margin-sides{
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-link{
    cursor: pointer;
}
