<img>

<div class="main">
    

    <div class="game">
        <div class="top">
            <button (click)="newRandomPuzzle()">New Random Puzzle</button>
            <h2>{{currentPuzzleName}} ({{width}}x{{height}})</h2>
            <h2 *ngIf="complete" style="color: green;">Puzzle solved!</h2>
        </div>
        <div id="game-board">
            <app-square
                *ngFor="let val of squares; let i=index"
                [value]="val"
                [color]="hintColors[i]"
                (click)="makeMove(i)">
            
            </app-square>
            
        </div>
        
        <h2>Number of mines: {{numberOfMines}}</h2>
    </div>

    <div class="outside-levels">
        <h2>* Levels *</h2>
        <button style="width: 75px" (click)="toggleShowLevels(levels[0], 'Intro')" class="intro-button">Intro</button>

        <button style="width: 75px" (click)="toggleShowLevels(levels[1], 'Level 1')" class="level1-button">Level 1</button>
        
        <button style="width: 75px" (click)="toggleShowLevels(levels[2], 'Level 2')" class="level2-button">Level 2</button>
       
        <button style="width: 75px" (click)="toggleShowLevels(levels[3], 'Level 3')" class="level3-button">Level 3</button>
       
        <button style="width: 75px" (click)="toggleShowLevels(levels[4], 'Level 4')" class="level4-button">Level 4</button>
       
        <button style="width: 75px" (click)="toggleShowLevels(levels[5], 'Bonus')" class="bonus-button">Bonus</button>
        
    </div>
    <div class="section3">
        <div class="inside-levels" *ngIf="displayLevels">
            <button 
                *ngFor="let level of displayLevels; let i=index"
                (click)="loadGame(level, currentPuzzleName, i+1)">
                {{i+1}}</button>
        </div>
    </div> 

    <div class="section4"></div>
</div>