.game {
    display: grid;
    justify-content: center;
    align-items: center;
}

button {
    position:relative;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.top {
    display: inline-table;
}

#game-board {
    --width: 100px;
    --columns: 5;
    display: grid;
    grid-template-columns: repeat(var(--columns), var(--width));
    grid-gap: 0px;
}

app-square {
    border: 1px gray solid;
    height: 100px;
}

.outside-levels {
    position: absolute;
    top: 10%;
    left: 1%;
    width: 10%;
}

.inside-levels {
    display: grid;
}