html,
body,
header,
#intro {
    height: 75%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 25em;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 4px;
}

tr:nth-child(even) {
    background-color: peachpuff;
}